<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valérie St-Louis Photographie</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Bienvenue sur Valérie St-Louis Photographie!</h1>
        <nav>
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/photo">Photos</a></li>
                <li><a href="/prix-promotions">Prix / Promotions</a></li>
            </ul>
        </nav>
    </header>

    <section id="accueil">
        <h2>À propos de moi</h2>
        <p>Passionnée de photographie depuis des années je me lance enfin, pour vous faire profiter de mon amour des belles images et des souvenirs. Venez me rencontrer chez moi pour des photos en extérieur dans un décor boisée et nature,  dans le confort de votre foyer ou lieu extérieur de votre choix. Je suis présentement à la construction de mon folio, je vous offre donc un prix imbattable pour immortaliser vos moments en famille, entre amis ou évènements spéciaux.

            Je m’adapte à la personnalité de chacun et aime prendre le temps de discuter des concepts avec mes clients pour leur entière satisfaction.
            
            Contactez-moi pour réserver les dates de vos choix !!
            
            Suivez-moi sur facebook pour des prix spéciaux et surprises</p>
    </section>
    <footer>
        <p>&copy; 2023 Valérie St-Louis Photographie. All rights reserved.</p>
    </footer>
</body>
</html>