<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valérie St-Louis Photographie - Prix / Promotions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <section id="prix">
        <h2>Key Features</h2>
        <ul>
            <li>Maternité\Nouveau-Né_____________70$</li>
                <p>(Séance Maternité de 20 mins. \ Séance Nouveau-Né de 30 mins. )</p>
            <li>Familiale de 20 mins_____________40$</li>
                <p>Intérieur ou extérieur - max 4 enfants et 2 adultes</p>
            <li>Portrait de 20 mins______________40$</li>
                <p>(Famille\Couples\Seul\Maternité\Nouveau-Né \Enfants) Intérieur ou extérieur</p>
            <li>Animaux de 20 mins_______________45$</li>
                <p>Extérieur</p>
            <li>Garderie (minimum 6 enfants)_____15$/enfant</li>
                <p>Séances extérieur ou intérieur. Minimum de 3 poses</p>
                <p>Photo de groupe gratuite. Contactez-moi pour les prix si moins de 6 enfants</p>
            <li>Evenements (Mariage \ fêtes \ baptème)</li>
                <p>(Minimum de 4hrs ) Contactez-moi pour des prix à la journée</p>
        </ul>
    </section>
</body>
